<?xml version="1.0"?>
<launch>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find averaging_quaternion)/config/display_frames.rviz" required="true" />

    <node pkg="averaging_quaternion" type="tf_broadcaster" name="tf_broadcaster" output="screen" />
    <node pkg="averaging_quaternion" type="averaging_quaternion" name="averaging_quaternion" output="screen" />
</launch>